audio_input/
!audio_input/.gitkeep

audio_output/
!audio_output/.gitkeep

output/
!output/.gitkeep

separated/
!separated/.gitkeep

stems/
!stems/.gitkeep

lyrics/
!lyrics/.gitkeep

models/
!models/.gitkeep

remix-env/
__pycache__/
*.pyc
*.log
*.DS_Store
